export(.importPolMineCorpus)
export(as.cqpQuery)
export(bubblegraph)
export(collocations)
export(combineCollocates)
export(context)
export(contextCluster)
export(crosstabulationSizes)
export(datesPeriod)
export(dispersion)
export(drillingControls)
export(egoNetwork)
export(frequencies)
export(keyness)
export(kwic)
export(lineChart)
export(mergeColsRegex)
export(partition)
export(partitionCluster)
export(scatterplotCollocates)
export(shinyContext)
export(shinyDispersion)
export(shinyKeyness)
export(shinyVolatility)
export(zoom)
exportClasses(concordances)
exportClasses(crosstab)
exportClasses(keyness)
exportClasses(kwic)
exportClasses(partition)
exportClasses(partitionCluster)
exportMethods("+")
exportMethods("[")
exportMethods("[[")
exportMethods(addPos)
exportMethods(as.DocumentTermMatrix)
exportMethods(as.TermContextMatrix)
exportMethods(as.TermDocumentMatrix)
exportMethods(as.matrix)
exportMethods(filterCols)
exportMethods(merge)
exportMethods(mergeCols)
exportMethods(mergeColsRegex)
exportMethods(names)
exportMethods(sAttributes)
exportMethods(show)
exportMethods(summary)
exportMethods(tf)
exportMethods(trim)
import(Matrix)
import(methods)
import(rcqp)
importFrom(RColorBrewer,brewer.pal)
importFrom(chron,seq.dates)
importFrom(parallel,mclapply)
importFrom(shiny,runApp)
importFrom(slam,simple_triplet_matrix)
importFrom(tm,as.DocumentTermMatrix)
importFrom(tm,as.TermDocumentMatrix)
importFrom(xtermStyle,style)
