 /* Tooltip container */
.tooltipping {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */ /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipping .tooltippingtext {
    visibility: hidden;
    /* width: auto; */
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* padding: 5px 0; */
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    /* margin-left: auto; */
    margin-left: -120px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltipping .tooltippingtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipping:hover .tooltippingtext {
    visibility: visible;
    opacity: 1;
}

